<style>
.cover-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("<%=@new_record.image_url%>"); 
  background-color: #cccccc; 
  height: 700px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  margin: 16px
}
</style>

<div class="container">
<div class="row">
<div class="col-3 col-s-12">
    <div class="aside">      
     	 	<h1>Lowest Price on Discogs:</h1>
              <h2 style="color:#fd927e">$<%=@new_record.lowest_price%> USD</h2><br>

            <h2>For Sale on Discogs:</h2>
              <h3><%=@new_record.num_for_sale%></h3><br>

            
             <%if signed_in? && current_user.records.include?(@new_record) && @user_record.purchase_price == nil%>
              <form action="/record" method="post">
              <input type=hidden name="_method" value=patch>
              <input type=hidden name="record_id" value=<%=@new_record.id%>>
              <input id=purchase_price name=purchase_price>
              <input type=submit value="Add Purchase Price">
              </form>
              <%elsif signed_in? && current_user.records.include?(@new_record) && @user_record.purchase_price != nil%>
              <h2>Purchased For:</h2>
              <h3><%=@user_record.purchase_price%></h3>
             <%end%><br>
            

            <h2>Identifiers:</h2>
              <%@new_record.identifiers.each do |identifier|%>
                <h3><%=identifier["type_of_info"]%></h3>
                <p><%=identifier["value"]%></p>
                <p><%=identifier["description"]%></p><br>
              <%end%><br><br>      
    </div>
  </div>
  <div class="col-7 col-s-9">
    <div class="content">
      <div class=cover-image>
      <div class="mid">
  
  			<h1><%=@new_record.title%></h1><br>
        <%if signed_in? && current_user.records.include?(@new_record)%>
        
        <form action="/record" method="post">
        <input type=hidden name="record_id" value=<%=@new_record.id%>>
        <input type="submit" id="here" name="submit" value="UPDATE THIS RECORD IN MY COLLECTION">
  			</form>
        <form action="/record" method="post">
        <input type=hidden name="_method" value=delete>
        <input type=hidden name="record_id" value=<%=@new_record.id%>>
        <input type=hidden name="user_id" value=<%=current_user.id%>>
        <input type="submit" id="here" name="submit" value="DELETE THIS RECORD FROM MY COLLECTION">
  			</form>
        <%else%>
        <form action="/collection" method="post">
          <input type=hidden name="record_id" value=<%=@new_record.id%>>
    			<input type="submit" id="here"  name="submit" value="ADD THIS RECORD TO MY COLLECTION">
  			</form><br>
        <%end%>
        
        <div class="row">

        <div class="col-6 col-s-9">
    
    		    <h2>Artists:</h2>            
                <%@new_record.artists.each do |artist|%>
                <p><%=artist["name"]%></p>
            <%end%><br>

        </div>
        <div class="col-6 col-s-9">

            <h2>Labels:</h2>
              <%@new_record.labels.each do |label|%>
              <p><%=label["name"]%></p>
            <%end%><br>

        </div>
        </div>
        <div class="row">

        <div class="col-6 col-s-9">

            <h2>Genres:</h2>
              <%@new_record.genres.each do |genre|%>
              <p><%=genre["style"]%></p>
            <%end%><br>

            </div>
            <div class="col-6 col-s-9">

            <h2>Year Released:</h2>
              <%=@new_record.release_date%><br><br>
            
            </div>
        </div>
        </div>
        </div>
        <div class=image>
              
            <%@new_record.videos.each do |video|%>
          		<% vid_id = video.uri.split("=")%>
          		<%emb_link = "https://www.youtube.com/embed/"+vid_id[1]%>
            		<iframe width="47%" height="47%" src=<%=emb_link%> frameborder="0" allowfullscreen></iframe>
          		</iframe>
        		<%end%>
            </div>
    </div>    
  </div>
    <div class="col-2 col-s-3 menu">        
      <div class="bside">
    	  <h1>Tracks:</h1><br>   
          <%@new_record.tracks.each do |track|%>
          <h3><%=track["title"]%></h3>
          <p><%=track["duration"]%></p><br>
        <%end%><br> 
      </div>  
    </div>
  </div>
</div>
